# Set

### Subset
### Superset
### Disjoint

In [2]:
A={1,2,3,4,5,6,7,8,9}
B={3,4,5,6,7,8}
C={10,20,30,40}
print(A)
print(B)
print(C)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{3, 4, 5, 6, 7, 8}
{40, 10, 20, 30}

In [6]:
A.issubset(B) # A is not a Subset of B because, all the elements present in the 'A' are not in 'B'

False

In [8]:
B.issubset(A) # B is a subset because, all the elements of 'B' are present in 'A'.

True

In [12]:
B.issuperset(A) # B is not a superset because, all the elements of 'A' are not present in 'B'.

False

In [14]:
A.issuperset(B) # A is superset now. beCause all the elements of B are also present in the 'A' set. so Set A is a superset

True

In [16]:
A.isdisjoint(B) # If there are no common elements then it is said to be disjoint. so here there are no common elements. Hence, False

False

In [18]:
A.isdisjoint(C) # Here we have common elements.so, True

True

In [ ]:
A.tab # It gives you all the functions i.e., add, clear, copy, difference, difference_update, 
     # discard, intersection, intersection_update, isdisjoint, isuperset, issubset, pop,
    # remove, union, update, symmetric_difference, symmetric_difference_update

In [20]:
sum(A)

45

In [22]:
max(A)

9

In [24]:
min(A)

1

In [27]:
len(A)

9

# Dictionary

In [32]:
mydict=dict() # Empty Dictionary
mydict

{}

In [34]:
mydict={} # Empty Dictionary
mydict

{}

In [36]:
mydict={1:'one',2:'two',3:'three'} # Dictionary with integer keys
mydict                             # Here 1=Key, One=Value
                                   # Keys cannot be duplicate. Always it should be unique.
                                   # Values can be duplicate.

{1: 'one', 2: 'two', 3: 'three'}

In [40]:
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [45]:
mydict=dict({1: 'one', 2: 'two', 3: 'three'}) # Creating dictionary using dict(). It gives same output.
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [47]:
mydict={'A':'one','B':'Two','C':'Three'} # Dictionary with character keys.
mydict

{'A': 'one', 'B': 'Two', 'C': 'Three'}

In [49]:
mydict={'A':'one',2:'two',3:'Three'} # Dictionary with Mixed Keys. 
mydict

{'A': 'one', 2: 'two', 3: 'Three'}

In [51]:
mydict.keys() # To get the keys as output.

dict_keys(['A', 2, 3])

In [53]:
mydict.values() # To get the values as output.

dict_values(['one', 'two', 'Three'])

In [55]:
mydict.items() # access each key-value pair that present within a dictionary.

dict_items([('A', 'one'), (2, 'two'), (3, 'Three')])

In [57]:
mydict={1:'one',2:'two',3:'three','A':['ravi','teja','beri'],'B':['cat','bat','rat']}
mydict  # Dictionary with nested list.

{1: 'one',
 2: 'two',
 3: 'three',
 'A': ['ravi', 'teja', 'beri'],
 'B': ['cat', 'bat', 'rat']}

In [59]:
keys={'a','b','c','d'} # Creates a dictionary from a sequence of keys without values.
d1=dict.fromkeys(keys)
d1

{'c': None, 'd': None, 'b': None, 'a': None}

In [65]:
keys={'a','b','c','d'} # Creates a dictionary from a sequence of keys with values. Here It takes 10 for all the keys.
value=10
d1=dict.fromkeys(keys, value)
d1

{'c': 10, 'd': 10, 'b': 10, 'a': 10}

In [90]:
keys={'a','b','c','d'} # Creates a dictionary from a sequence of keys with values.
value=[10,20,30,40,50]
d1=dict.fromkeys(keys, value)
d1

{'c': [10, 20, 30, 40, 50],
 'd': [10, 20, 30, 40, 50],
 'b': [10, 20, 30, 40, 50],
 'a': [10, 20, 30, 40, 50]}

In [92]:
value.append(60) # adding the elements at last.
d1

{'c': [10, 20, 30, 40, 50, 60],
 'd': [10, 20, 30, 40, 50, 60],
 'b': [10, 20, 30, 40, 50, 60],
 'a': [10, 20, 30, 40, 50, 60]}

### Accessing Items

In [94]:
d1

{'c': [10, 20, 30, 40, 50, 60],
 'd': [10, 20, 30, 40, 50, 60],
 'b': [10, 20, 30, 40, 50, 60],
 'a': [10, 20, 30, 40, 50, 60]}

In [96]:
d1.pop('b') # It removes/deletes items and pop's out the 'b' with entire 'values' only.

[10, 20, 30, 40, 50, 60]

In [172]:
d1.popitem() # It pop's out with both 'keys' and 'value'.But, won't delete as 'pop'. 
            # A random item is removed.
             # Its the only difference between 'pop' and 'popitem'.

('a', [10, 20, 30, 40, 50, 60])

In [104]:
d1.pop('c')
d1

KeyError: 'c'

In [106]:
d1.pop('d')

[10, 20, 30, 40, 50, 60]

In [108]:
d1

{'a': [10, 20, 30, 40, 50, 60]}

In [112]:
d1['a'] # Accessing item using 'key'

[10, 20, 30, 40, 50, 60]

In [118]:
d2={1:'one',2:'two',3:'three'}
d2

{1: 'one', 2: 'two', 3: 'three'}

In [120]:
d2[1]

'one'

In [122]:
d2[3]

'three'

In [116]:
d1.get('a') # Accessing item using get() method.

[10, 20, 30, 40, 50, 60]

In [152]:
d3={'Name':'Raviteja Beri','Job':'Aspiring AI Engineer','ID':1989406,'Location':'Hyderabad'}
d3

{'Name': 'Raviteja Beri',
 'Job': 'Aspiring AI Engineer',
 'ID': 1989406,
 'Location': 'Hyderabad'}

In [154]:
d3['Location']

'Hyderabad'

In [156]:
d3.get('ID')

1989406

In [158]:
d3['DOB'] = 2003 # Here i have added DOB in the dict.

In [160]:
d3

{'Name': 'Raviteja Beri',
 'Job': 'Aspiring AI Engineer',
 'ID': 1989406,
 'Location': 'Hyderabad',
 'DOB': 2003}

In [162]:
d3

{'Name': 'Raviteja Beri',
 'Job': 'Aspiring AI Engineer',
 'ID': 1989406,
 'Location': 'Hyderabad',
 'DOB': 2003}

In [164]:
d3['DOB']=2000 # Changing several values.
d3['Location']='India'
d3

{'Name': 'Raviteja Beri',
 'Job': 'Aspiring AI Engineer',
 'ID': 1989406,
 'Location': 'India',
 'DOB': 2000}

In [166]:
d2={'DOB': 2001} # Here ypu need to take another dict and assign value.
d3.update(d2)    # otherwise It removes all values and returns as 'DOB':2001
d3

{'Name': 'Raviteja Beri',
 'Job': 'Aspiring AI Engineer',
 'ID': 1989406,
 'Location': 'India',
 'DOB': 2001}

In [168]:
d3

{'Name': 'Raviteja Beri',
 'Job': 'Aspiring AI Engineer',
 'ID': 1989406,
 'Location': 'India',
 'DOB': 2001}

In [174]:
d3['Designation']='Software Engineer' # Adding items in the dictionary.
d3

{'Name': 'Raviteja Beri',
 'Job': 'Aspiring AI Engineer',
 'ID': 1989406,
 'Location': 'India',
 'DOB': 2001,
 'Designation': 'Software Engineer'}

In [176]:
del[d3['ID']] # removing item using del function.
d3

{'Name': 'Raviteja Beri',
 'Job': 'Aspiring AI Engineer',
 'Location': 'India',
 'DOB': 2001,
 'Designation': 'Software Engineer'}

In [178]:
d3.clear() # Delete all items of the dictionary using clear method.
d3

{}

In [180]:
del d3 # Delete dictionary object. Hence, deleted.
d3

NameError: name 'd3' is not defined

### Copy dictionary

In [201]:
d4={'Name':'Raviteja Beri','Job':'Aspiring AI Engineer','ID':1989406,'Location':'Hyderabad'}
d4

{'Name': 'Raviteja Beri',
 'Job': 'Aspiring AI Engineer',
 'ID': 1989406,
 'Location': 'Hyderabad'}

In [203]:
d5=d4.copy() # Copying the items from on dictionary to other dictionary.
d5

{'Name': 'Raviteja Beri',
 'Job': 'Aspiring AI Engineer',
 'ID': 1989406,
 'Location': 'Hyderabad'}

In [205]:
id(d4), id(d5) # Gives different address.

(1971729213504, 1971729324736)

In [207]:
d6=d5.copy()

In [209]:
d6

{'Name': 'Raviteja Beri',
 'Job': 'Aspiring AI Engineer',
 'ID': 1989406,
 'Location': 'Hyderabad'}

In [211]:
d6=d5

In [213]:
id(d6), id(d5) # It consists same address becuase we have declared d6=d5 in the above section.

(1971729324736, 1971729324736)

In [215]:
d5

{'Name': 'Raviteja Beri',
 'Job': 'Aspiring AI Engineer',
 'ID': 1989406,
 'Location': 'Hyderabad'}

In [217]:
d5['Location']='India'
d5

{'Name': 'Raviteja Beri',
 'Job': 'Aspiring AI Engineer',
 'ID': 1989406,
 'Location': 'India'}

In [219]:
d6 # Here d6 also changes because we have declared d5 and d6 are eqaul. So automatically changed.

{'Name': 'Raviteja Beri',
 'Job': 'Aspiring AI Engineer',
 'ID': 1989406,
 'Location': 'India'}

In [221]:
id(d5), id(d6) # same id's

(1971729324736, 1971729324736)

In [223]:
d4 # Copy of list won't be affected, if we made changes in the original.

{'Name': 'Raviteja Beri',
 'Job': 'Aspiring AI Engineer',
 'ID': 1989406,
 'Location': 'Hyderabad'}

In [225]:
id(d4)

1971729213504

### Loop Through dictionary

In [232]:
d7={'Name':'Raviteja Beri','Job':'Aspiring AI Engineer','ID':1989406,'Location':'Hyderabad'}
d7

{'Name': 'Raviteja Beri',
 'Job': 'Aspiring AI Engineer',
 'ID': 1989406,
 'Location': 'Hyderabad'}

In [242]:
for i in d7:
    print(i, ':',d7[i]) # Because we need to Key & value pair

Name : Raviteja Beri
Job : Aspiring AI Engineer
ID : 1989406
Location : Hyderabad

In [244]:
for i in enumerate(d7):
    print(i)

(0, 'Name')
(1, 'Job')
(2, 'ID')
(3, 'Location')

In [294]:
for i,key in enumerate(d7):
    value=d7[key]
    print(i, ':',key, ':', value)

0 : Name : Raviteja Beri
1 : Job : Aspiring AI Engineer
2 : ID : 1989406
3 : Location : Hyderabad

In [300]:
for i in d7: # it gives the values
    print(d7[i])

Raviteja Beri
Aspiring AI Engineer
1989406
Hyderabad

### Dictionary membership

In [303]:
d7

{'Name': 'Raviteja Beri',
 'Job': 'Aspiring AI Engineer',
 'ID': 1989406,
 'Location': 'Hyderabad'}

In [305]:
'iD' in d7

False

In [307]:
'ID'in d7

True

### All / Any

In [314]:
all(d7) # It returns false if it consists value '0' in it

True